

NET "c[0]" LOC = K12;
NET "c[1]" LOC = P14;
NET "c[2]" LOC = L12;
NET "c[3]" LOC = N14;
NET "clk" LOC = T9;
NET "rst" LOC = L13;

# PlanAhead Generated physical constraints 

NET "c[4]" LOC = P13;
NET "c[5]" LOC = N12;
NET "c[6]" LOC = P12;
NET "c[7]" LOC = P11;
